<header>
  <%= link_to logo, root_path %>

  <nav class="round">
	<ul>
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Individuals & Families", "individuals" %></li>
	  <li><%= link_to "Employers", "employers" %></li>
	  <li><%= link_to "Food Providers", "foodproviders" %></li>
	  <li><%= link_to "Clients & Partners", "clientspartners" %></li>
	  <li><%= link_to "Blogs", "blogs" %></li>        
	  <li><%= link_to "Contact Us", "contact" %></li>
	  <li><%= link_to "Log in", "#" %></li>
	</ul>
  </nav>
</header>